.editor_head
{

    position:absolute;
    left:0px;
    top:0px;
    height:40px;
    width:100%;
    z-index:30;

}
.pack_list{
    height:200px;
    overflow: scroll;
    overflow-x:hidden;
    
}
.explore_tabs_cont
{
    position:absolute;
    top:50px;
    left:0px;
    height:1000px;
    width:300px;
    z-index:100;

}




.prearea1{

    height:85%;
    width:78%;
}

.top_container_editor
{
    display:block;
    position:absolute;
    top:5px;

    left:200px;
    height:30px;
    width:80%;
    z-index:100;
}


.menubar
{
    position:absolute;
    max-height:25px;
    width:45%;
    left:450px;
    top:1px;

    /*border-radius:5px;*/
    padding-top:2px;
    padding-bottom:2px;

}

.editor_project_name
{
    position:absolute;
    top:2px;
    left:0px;
    width:300px;
    height:20px;

    font-size:1em;
    font-weight:bold;
    color:white;
    border-radius: 6px;
    background-color:black;
    padding: 3px;

    overflow:hidden;
}



.logout_editor
{
    position:absolute;
    top:2px;
    left:90%;
    /* max-height:20px;
     max-width:270px;
     background:white;
     color:black;
     font-size:15px;
     padding:2px;
     border-radius:5px;*/
}



.editor
{position:absolute;
 top:120px;
 left:310px;
 width:75%;
 height:130%;
}




.tabs_container
{
    position:absolute;
    top:50px;
    left:310px;
    height:80px;
    width:75%;
    background:lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow:auto;
    
}





.explr_file{

    cursor:move;

}
.explr_file:hover{
    background-color: #59b4d4;
}

.packs_div:hover{
    background-color: #59b4d4;
    border-radius:5px;
}
.packs_div
{
    overflow:hidden;
    
    
}




.files_div:hover{
    background-color: lightgray;
    border-top-right-radius:5px; 
    border-bottom-right-radius:5px; 
}
.files_div{
     overflow:hidden;
    
}



/* the css for tabs------------------------- */
.mac_hover:hover{
    height:30px;
    width:auto;
    
    
}
.tab_td
{
    background:ghostwhite;

    min-width:20px;
    max-width:500px;
    border-radius:5px;
    

}
.close_tab_button
{


    height:15px;
    width:15px;

}

.tab_table
{
    position: absolute;
    height:90px;
    width:90px;
    left:10px;
    top:0px;

}